@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


.container-anuncio {
    font-size: 40px;
    font-family: "Dancing Script", cursive;
    color: rgb(41, 101, 170);
    background-color: #F6E7D7;
    margin-top: -5px;
}

.concha {
    width: 50px;
    height: 50px;
    margin-right: 50px;
    margin-left: 50px;
}

.container-banner {
    display: 'flex';
    background-color: #F6E7D7;
    align-items: 'center';
    justify-content: 'space-evenly';
}

@media(max-width:870px) {
    .container-anuncio {
        flex-direction: column;
        font-size: 40px;
        text-align: inherit;
    }

    .concha {
        display: none;
    }
}